#road {
  fill: rgba(0, 0, 0, 0);
  background: rgb(12, 1, 1);
  width:100vw;
  height:20vh;
}
#path, #horizon {
  stroke: #FFFFFF;
  width:100vw;
  height:20vh;
}
.road {
  background:#40365c;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:end;

}
.bottomborder {
  background:black;
  height:5vh;
  width:100vw;
  bottom:-5vh;
  z-index:1
}
.borderl {
  position:absolute;
  display: flex;
  flex-direction: column;
  height:110vh;
  background: #222245;
  width:60px;
  z-index:10000;
  left:0;
  top:0;
}
.borderr {
  position:absolute;
  display: flex;
  flex-direction: column;
  height:110vh;
  background: #222245;
  width:60px;
  z-index:10000;
  right:0;
  top:0;
}
html {
  background:black;
  margin:0
}
body {
  margin:0
}